# Variaveis de Ambiente e Chaves de Seguranca
.env
.env.*
*.pem
credentials

# Ambientes Virtuais Python
venv/
env/
.venv/

# Caches e Artefatos Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# Artefatos Go e Compilados
# O Go gera executaveis sem extensao no Linux, bloqueando nomes comuns
bin/
obj/
*.exe
*.out
*.test
auth-service/auth-service
flag-service/flag-service
evaluation-service/evaluation-service
targeting-service/targeting-service

# Arquivos de IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store